name: glados签到-批量
on:
  #schedule:
  # 0时区
  #- cron: '14 0 * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 签到
        run: |
          echo "Beijing Time: $(date -d '+8 hours')"
          checkin='https://glados.rocks/api/user/checkin'
          # GLADOS_COOKIES 多行，再变量中设置
          echo "${{ vars.GLADOS_COOKIES }}" | while IFS= read -r cookie; do
            echo $cookie
            if [ -z "$cookie" ]; then
              continue  # 跳过空行
            fi
            # 调用签到接口
            resData=`curl $checkin -b '${cookie}' -H 'Content-Type: application/json' -A 'Mozilla/5.0' -d '{"token":"glados.one"}'`
            echo $resData
            # 暂停1秒
            sleep 1
          done
